<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ClientHttp/src/fr/projet26/client/JavaHttpUrlConnectionReader.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fr.projet26.client.JavaHttpUrlConnectionReader"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ClientHttp"/>
</launchConfiguration>
